<!DOCTYPE html>
<html>

  <% include layout/head %>


<body>
  <%- include('layout/navbar', {pseudo: pseudo }) %>


  <h1>Tableau de bord <%= pseudo%></h1>  
  <table id="billets" class="centered responsive-table highlight">
    <thead>
      <tr>
        <th>Date de création du billet</th>
        <th>Titre du billet</th>
        <th>Priorité</th>
        <th>Id</th>
        <th>Détails</th>
        <th>Etat du billet</th>
      </tr>
    </thead>
    <% if(typeof billets != undefined) {%>
    <tbody>
      <% billets.forEach(function(billet) {%>
      <tr>

        <td>
          <%= billet.DATECREATIONBILLET.getDate()%>/<%= billet.DATECREATIONBILLET.getUTCMonth()+1%>/<%= billet.DATECREATIONBILLET.getUTCFullYear()%>
        </td>
        <td><%= billet.TITREBILLET %></td>
        <td><%= billet.URGENCEBILLET %></td>
        <td><%= billet.IDBILLET %></td>
        <td>
          <a href="/billet/<%= billet.IDBILLET %>" class="waves-effect waves-light btn blue"><i
              class="material-icons">zoom_in</i> </a>
        </td>
        <% if (billet.ETATBILLET == 0) { %>
        <td class="red">Non affecté</td>
        <% } else if (billet.ETATBILLET == 1) { %>
        <td class="white">Affecté</td>
        <% } else if (billet.ETATBILLET == 2) { %>
        <td class="green">Terminé</td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
    <% }%>
  </table>
</body>

</html>