<!DOCTYPE html>
<html>
<% include layout/head %>

<body>
  <%- include('layout/navbar', {pseudo: pseudo, role: role }) %>
  <% 
          let dateActu = new Date(); 
          let annee = dateActu.getUTCFullYear();
          let mois = dateActu.getUTCMonth()+1;
          let jour = dateActu.getDate();
          if(mois < 10){
            mois = '0'+mois;
          }
 %>


  <h1>Billet n°<%= billet[0].IDBILLET %> - <%= billet[0].TITREBILLET%></h1>
  <% if (role != 1 && role != 3) { %>
    <% if (msg.length != 0) {
        if (msg[0] == 'success') {%>   
          <div class="card-panel green" id="msgPopup" style="padding: 5px;" ><%= msg[1] %></div>
        <%} else if (msg[0] == 'error') {%>
          <div class="card-panel red" id="msgPopup" style="padding: 5px;" ><%= msg[1] %></div>
    <%}} %>
    <% if(billet[0].ETATBILLET != 2) { %>
    <form action="/billet/end/<%= billet[0].IDBILLET %>" method="POST">
      <input type="hidden" name="end" value="end">
      <button class="waves-effect waves-light btn green type=" submit">
        <i class="material-icons left">done</i>Problème résolu
      </button>
    </form>
    <form action="/billet/refus/<%= billet[0].IDBILLET %>/<%= billet[0].IDPROBLEME %>" method="POST">
      <input type="hidden" name="refus" value="refus">
      <button class="waves-effect waves-light btn red type=" submit">
        <i class="material-icons left">close</i>Refuser le billet
      </button>
    </form>
    <% }%>

  </p>
  <% } %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <td><%= billet[0].TITREBILLET%></td>

      <th>Etat</th>
      <% if (billet[0].ETATBILLET == 0) { %>
      <td colspan="2" class="red center">Non affecté</td>
      <% } else if (billet[0].ETATBILLET == 1) { %>
      <td colspan="2" class="white center">Affecté</td>
      <% } else if (billet[0].ETATBILLET == 2) { %>
      <td colspan="2" class="green center">Terminé</td>
      <% } %>
    </tr>
    <tr>
      <th>Type problème</th>
      <td><%= billet[0].NOMPROBLEME %></td>

      <th>Date de création</th>
      <td colspan="2">
        <%= billet[0].DATECREATIONBILLET.getDate()%>/<%= billet[0].DATECREATIONBILLET.getUTCMonth()+1%>/<%= billet[0].DATECREATIONBILLET.getUTCFullYear()%>
      </td>
    </tr>

    <tr>
      <th>Urgence</th>
      <% if (!billet[0].URGENCEBILLET) { %>
      <td>Non renseigné</td>
      <% } else  {%>
      <td><%= billet[0].URGENCEBILLET %>/5</td>
      <% } %>

      <th>Date de fin prévue</th>
      <% if(!accepte[0].DATEFERMETUREBILLET) {%>
        
        <td>
          <p id="pDate">Pas de date prévue</p>
          <form class="undisplay" id="formDate" action="/billet/modifDateFin" method="POST">
            <input type="hidden" id="idBillet" name="idBillet" value="<%=billet[0].IDBILLET%>">
            <input type="date" id="dateFin" name="dateFin" value="<%= annee %>-<%= mois %>-<%= jour %>" min="<%= annee %>-<%= mois %>-<%= jour %>" required>
          </form>
        </td>
      <%} else {%>
        <%
          let jourDateFin = accepte[0].DATEFERMETUREBILLET.getDate();
          let moisDateFin = accepte[0].DATEFERMETUREBILLET.getUTCMonth()+1;
          let anneeDateFin = accepte[0].DATEFERMETUREBILLET.getUTCFullYear();
          if(moisDateFin < 10){
            moisDateFin = '0'+moisDateFin;
          }
        %>
        <td>
          <p id="pDate"><%= jourDateFin%>/<%= moisDateFin%>/<%= anneeDateFin%></p>
          <form class="undisplay" id="formDate" action="/billet/modifDateFin" method="POST">
            <input type="hidden" id="idBillet" name="idBillet" value="<%=billet[0].IDBILLET%>">
            <input type="date" id="dateFin" name="dateFin" value="<%= anneeDateFin %>-<%= moisDateFin %>-<%= jourDateFin %>" min="<%= annee %>-<%= mois %>-<%= jour %>" required>
          </form>
        </td>
      <%}%>
      <% if (role != 1 && billet[0].ETATBILLET != 2) {%>
        <td>
          <button class="waves-effect waves-light btn indigo" id="modifDate" onclick="toggleDisp(['modifDate','formDate','validDate','cancelDate','pDate'])">
            <i class="material-icons left">add_box</i>Modifier
          </button>
          <button class="waves-effect waves-light btn green undisplay" id="validDate" onclick="confirmForm()">
            <i class="material-icons left">done</i>Valider
          </button>
          <button class="waves-effect waves-light btn red undisplay" id="cancelDate" onclick="toggleDisp(['modifDate','formDate','validDate','cancelDate','pDate'])">
            <i class="material-icons left">close</i>Annuler
          </button>
        </td>
      <%}%>
      

      
    </tr>

    <tr>
      <th>Description</th>
      <td><%= billet[0].MESSAGEBILLET %></td>

      <th>Pièce Jointe</th>
      <% if (!billet[0].URGENCEBILLET) { %>
      <td colspan="2">Pas de pièce jointe</td>
      <% } else  {%>
      <!-- <td><%= billet[0].PIECEJOINTEBILLET%></td> -->
      <td colspan="2">EN COURS DE REALISATION</td>
      <% } %>
    </tr>
  </table>


  <h5>Commentaires :</h5>
  <ul class="collection">
    <% if (role != 1 && billet[0].ETATBILLET != 2) {%>
    <form action="/billet/ajoutcomm" method="POST">
      <li class="collection-item">
        <input placeholder="Ajouter le titre du commentaire" name="titrecommentaire" type="text" class="validate"
          data-length="120" id="input_text" required>
        <input placeholder="Compléter le commentaire" name="libellecommentaire" type="text" class="validate"
          data-length="120" id="input_text" required>
        <input type="hidden" name="idbilletajout" value="<%= billet[0].IDBILLET %>">
        <button class="waves-effect waves-light btn indigo" type="submit" name="action">
          <i class="material-icons left">add_box</i>Ajouter
        </button>
      </li>
    </form>
    <%}%>
    <% if(typeof comms != undefined && comms != "") {%>
    <% comms.forEach(function(comm) {%>
    <li class="collection-item">
      <h6>
        <%= comm.DATECREATIONBILLET.getDate()%>/<%= comm.DATECREATIONBILLET.getUTCMonth()+1%>/<%= comm.DATECREATIONBILLET.getUTCFullYear()%>
        : <%= comm.TITRECOMMENTAIRE %></h6>
      <%= comm.LIBELLECOMMENTAIRE %>
    </li>
    <%}) %>
    <% } else {%>
    <li class="collection-item">Il n'y a aucun commentaire</li>
    <% } %>
  </ul>

  <h5>Interventions :</h5>
  <ul class="collection">
    <% if (role != 1 && billet[0].ETATBILLET != 2) {%>
    <form action="/billet/ajoutinter" method="POST">
      <li class="collection-item">
        <input placeholder="Ecrivez ici au sujet de l'intervention" name="description" type="text" class="validate"
          data-length="120" id="input_text" required>
        <input type="hidden" name="idbilletajout" value="<%= billet[0].IDBILLET %>">
        <button class="waves-effect waves-light btn indigo" type="submit" name="action">
          <i class="material-icons left">add_box</i>Ajouter
        </button>
      </li>
    </form>
    <%}%>

    <% if(typeof inters != undefined && inters != "") {%>
    <% inters.forEach(function(inter) {%>
    <li class="collection-item">
      <h6>
        <%= inter.DATEINTERVENTION.getDate()%>/<%= inter.DATEINTERVENTION.getUTCMonth()+1%>/<%= inter.DATEINTERVENTION.getUTCFullYear()%>
        :</h6>
      <%= inter.DESCRIPTIONINTERVENTION %>
    </li>
    <%}) %>
    <% } else {%>
    <li class="collection-item">Il n'y a aucune Intervention</li>
    <% } %>
  </ul>

  <% include layout/script %>

</body>

</html>