<!DOCTYPE html>
<html>

<head>
  <title>Vue globale des billets</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta charset="UTF-8">
</head>

<body>
  <h1>Vue globale des billets</h1>
  <p>Cette interface offre une vue globale des billets</p>
  <p><a href="/">Revenir à l'Accueil</a></p>

  <!-- <div class="container"> -->
  <div class="row">
    <h3 class="header">Billets</h3>
    <table id="billets" class="centered responsive-table highlight">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titre du billet</th>
          <th>Priorité</th>
          <th>Date de création du billet</th>
          <th>Détails</th>
          <th>Etat du billet</th>
        </tr>
      </thead>
      <tbody>
        <% billets.forEach(function(billet) {%>
          <tr>
          <td><%= billet.IDBILLET %></td>
          <td><%= billet.TITREBILLET %></td>
          <td><%= billet.URGENCEBILLET %></td>
          <td><%= billet.DATECREATIONBILLET.toDateString() %></td>
          <td>
            <a href="/billet/<%= billet.IDBILLET %>" class="waves-effect waves-light btn blue"><i class="material-icons">zoom_in</i> </a>
          </td>
          <% if (billet.ETATBILLET == 0) { %>
          <td class="red">Non affecté</td>
          <% } else if (billet.ETATBILLET == 1) { %>
          <td class="white">Affecté</td>
          <% } else if (billet.ETATBILLET == 2) { %>
          <td class="green">Terminé</td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <a href="/addticket" class="btn blue">Ajouter un ticket</a>
  </div>
  <!-- </div> -->
</body>

</html>