<!DOCTYPE html>
<html>

<head>
  <title>Billet n°<%= billet[0].IDBILLET %> - <%= billet[0].TITREBILLET%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta charset="UTF-8">
</head>

<body>
  <h1>Billet n°<%= billet[0].IDBILLET %> - <%= billet[0].TITREBILLET%></h1>
  <p>
    <a href="/" class="waves-effect waves-light btn blue">Revenir à l'Accueil</a>
    <a href="/" class="waves-effect waves-light btn blue">Prendre en charge le ticket</a>
    <a href="/" class="waves-effect waves-light btn blue">Refuser le ticket</a>

  </p>

  <table style="width:100%">
    <!-- <tr>
        <th>ID du BILLET</th>
        <td><%= billet[0].IDBILLET%></td>
      </tr> -->
    <tr>
      <th>Titre</th>
      <td><%= billet[0].TITREBILLET%></td>

      <th>Etat</th>
      <% if (billet[0].ETATBILLET == 0) { %>
      <td class="red center">Non affecté</td>
      <% } else if (billet[0].ETATBILLET == 1) { %>
      <td class="white center">Affecté</td>
      <% } else if (billet[0].ETATBILLET == 2) { %>
      <td class="green center">Terminé</td>
      <% } %>
    </tr>
    <tr>
      <th>Date de création</th>
      <td><%= billet[0].DATECREATIONBILLET%></td>
      <th>Urgence</th>
      <% if (!billet[0].URGENCEBILLET) { %>
      <td class="center">Non renseigné</td>
      <% } else  {%>
      <td class="center"><%= billet[0].URGENCEBILLET %>/5</td>
      <% } %>
    </tr>
    <tr>

    </tr>
    <tr>
      <th>Description</th>
      <td><%= billet[0].MESSAGEBILLET%></td>
    </tr>
    <tr>
      <th>Pièce Jointe</th>
      <% if (!billet[0].URGENCEBILLET) { %>
      <td>Pas de pièce jointe</td>
      <% } else  {%>
      <td><%= billet[0].PIECEJOINTEBILLET%></td>
      <% } %>
    </tr>
  </table>
</body>

</html>