<!DOCTYPE html>
<html>

<head>
  <title>Rechercher un billet</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">

  <meta charset="UTF-8">
</head>

<body>
  <nav>
    <div class="nav-wrapper blue">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <a class="brand-logo right">Assistance</a>
        <li><a href="/" class="waves-effect waves-light btn blue"><i
              class="material-icons left">keyboard_arrow_left</i>Revenir à l'Accueil</a></li>
        <li><a href="/billets" class="btn blue">Tableau de bord</a>
        <li><a href="/ajouterBillet" class="btn blue">Ajouter un billet</a>
        <li><a href="/recherche" class="btn blue">Rechercher</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Rechercher un billet</h1>

  <div id="formAjout" class="col">
    <form action="/recherche" method="POST">
      <div class="input-field">
        <label for="rechercheBillet">Rechercher</label><br>
        <input placeholder="Exemple : Michel ou 2020/02/17" name="rechercheBillet" type="text" class="validate"
          data-length="120" id="input_text" required>
      </div>

      <div class="input-field">
        <label for="typeRechercheBillet">Critère de recherche</label><br><br>
        <select id="typeRechercheBillet" name="typeRechercheBillet" class="dispSelect">
          <option value="">Veuillez sélectionner un critère de recherche</option>
          <option value="titreBillet">Par titre du billet</option>
          <option value="dateCreationBillet">Par date de création</option>
          <option value="urgenceBillet">Par importance/urgence</option>
          <option value="idBillet">Par ID du billet</option>
        </select>
      </div>

      <button class="waves-effect waves-light btn blue" type="submit" name="action">
        <i class="material-icons left">add_box</i>Rechercher
      </button>
    </form>
  </div>


  <% if(typeof billets != 'undefined') {%>
  <table id="billets" class="centered responsive-table highlight">
    <thead>
      <tr>
        <th>Date de création du billet</th>
        <th>Titre du billet</th>
        <th>Priorité</th>
        <th>Id</th>
        <th>Détails</th>
        <th>Etat du billet</th>
      </tr>
    </thead>
    <tbody>
      <%billets.forEach(function(billet) {%>
      <tr>
        <td>
          <%= billet.DATECREATIONBILLET.getDate()%>/<%= billet.DATECREATIONBILLET.getUTCMonth()+1%>/<%= billet.DATECREATIONBILLET.getUTCFullYear()%>
        </td>
        <td><%= billet.TITREBILLET %></td>
        <td><%= billet.URGENCEBILLET %></td>
        <td><%= billet.IDBILLET %></td>
        <td>
          <a href="/billet/<%= billet.IDBILLET %>" class="waves-effect waves-light btn blue"><i
              class="material-icons">zoom_in</i> </a>
        </td>
        <% if (billet.ETATBILLET == 0) { %>
        <td class="red">Non affecté</td>
        <% } else if (billet.ETATBILLET == 1) { %>
        <td class="white">Affecté</td>
        <% } else if (billet.ETATBILLET == 2) { %>
        <td class="green">Terminé</td>
        <% } %>
      </tr>
      <% })%>
    </tbody>
  </table>
  <%} %>




</body>

</html>