<!DOCTYPE html>
<html>

<% include layout/head%>


<body>
    <% include layout/navbar%>

    <h1>Statistiques</h1>
    <nav class="nav-extended">
        <div class="nav-content blue">
            <ul class="tabs tabs-transparent">
                <% if(typeof mois !== 'undefined') {%>
                <li><input type="hidden" value="<%=mois%>"></li>
                <%}%>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/0">Mois actuel</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/1">Janvier</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/2">Février</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/3">Mars</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/4">Avril</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/5">Mai</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/6">Juin</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/7">Juillet</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/8">Août</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/9">Septembre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/10">Octobre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/11">Novembre</a></li>
                <li class="month tab"><a class="hvr-underline-from-center" href="/stats/12">Decembre</a></li>
            </ul>
        </div>
    </nav>

    <div class="section">
        <% if(typeof mois !== 'undefined') {%>
                <h5>Informations générales du mois de
                    <%= mois%>
                </h5>
                <div class="row grey lighten-4">
                    <div class="col s3">
                        <p class="center-align">Nombre de problèmes ce mois-ci :</p><br>
                        <h3 class="center-align"><%= nbb[0].value %></h3>
                    </div>
                    <div class="col s3 red">
                        <p class="center-align">Nombre de problèmes non-résolus :</p><br>
                        <h3 class="center-align"><%= nbbnonterm[0].value%></h3>
                    </div>
                    <div class="col s3">
                        <p class="center-align">Nombre de problèmes en cours :</p><br>
                        <h3 class="center-align"><%= nbbencours[0].value %></h3>
                    </div>
                    <div class="col s3 green">
                        <p class="center-align">Nombre de problèmes terminés :</p><br>
                        <h3 class="center-align"><%= nbbterm[0].value%></h3>
                    </div>
                </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Nombre de billets par urgence</h5>
            <div class="row grey lighten-4">
                <div class="col s4">
                    <p class="center-align">Urgence de niveau 1 :</p><br>
                    <p class="center-align">Urgence de niveau 2 :</p><br>
                    <p class="center-align">Urgence de niveau 3 :</p><br>
                    <p class="center-align">Urgence de niveau 4 :</p><br>
                    <p class="center-align">Urgence de niveau 5 :</p><br>

                </div>
                <div class="col s4">
                    <p class="center-align"><%= urg1[0].value %> billet(s)</p><br>
                    <p class="center-align"><%= urg2[0].value %> billet(s)</p><br>
                    <p class="center-align"><%= urg3[0].value %> billet(s)</p><br>
                    <p class="center-align"><%= urg4[0].value %> billet(s)</p><br>
                    <p class="center-align"><%= urg5[0].value %> billet(s)</p><br>

                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Autres Statistiques</h5>
            <p>Ici d'autres Statistiques</p>
        </div>
        <%}%>

    <% include layout/script %>
        <script type="text/javascript" src="/javascript/stats.js"></script>

</body>

</html>